.homeUsers{
    font-size: 60px;
    font-weight: 500;
    margin: 200px 0 0px 200px;
    
    & a{
      text-decoration: none;
      color: black;
    }
  
    & li{
      margin: 40px 0;
    }
  }

  .section-aside-container {
    display: flex;
    gap: 30px;
  }

  .nutri-cards-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .charts-container {
    display: flex;
    gap: 30px;
    width: 835px;
   }