  .section-aside-container {
    display: flex;
    gap: 30px;
  }

  .nutri-cards-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .charts-container {
    display: flex;
    gap: 30px;
    width: 835px;
   }