  .section-aside-container {
    display: flex;
    gap: 20px;
  }

  .nutri-cards-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // margin-right: 20px;
    gap: 40px;
  }

  .activity-container {
    display: flex;
    flex-direction: column;
    min-width: 634px;
    width: 100%;
    gap: 30px;
  }

  .charts-container {
    display: flex;
    min-width: 634px;
    width: 100%;
    gap: 20px;
   }