.perf-chart-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #282D30;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    width: 198px;
    height: 190px;
}
