//colors

$primary: #FF0101;
$secondary: #020203;
$grey-light: #FBFBFB;
$red-chart:#FF0000;
$light-red-chart:rgba(255, 0, 0, 0.1);
$blue-chart: #4AB8FF;
$light-blue-chart: rgba(74, 184, 255, 0.1);
$yellow-chart: #FDCC0C;
$light-yellow-chart: rgba(249, 206, 35, 0.1);
$pink-chart: #FD5181;
$light-pink-chart: rgba(253, 81, 129, 0.1);