.home-title {
    font-size: 48px;
    line-height: 24px;
    color: #000000;

    &--firstname {
        color: rgba(255, 1, 1, 1);
    }

    &-msg {
        font-size: 18px;
        line-height: 24px;
        color: #000000;
    }

    &-container {
        margin-bottom: 75px;
    } 
}

