.user-activity {

  &-container {
    position: relative;
    width: 835px;
    height: 320px;
    background: #FBFBFB;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.06);
    border-radius: 5px;
    padding: 25px 0 25px 0;

    span {
      font-size: 14px;
      line-height: 24px;
      color: #74798C;
    }
  }

  &-title {
    position: absolute;
    left: 25px;
    margin: 0;
    font-size: 15px;
    line-height: 24px;
    color: #20253A;
  }
}

.custom-tooltip {
    background-color: #e60000;
    width: 40px;
    height: 65px;
    margin-left: 8px;

    &:hover {
      border: none;
    }
  }
  
  .tooltip-data {
    font-weight: 500;
    font-size: 8px;
    line-height: 24px;
    color: white;
    text-align: center;
  }

  